.bottombar {
  box-sizing: border-box;
  padding-inline: 4rem;
  background-color: var(--gray-200);
  width: 100%;
  padding-bottom: 2rem;
}

.links {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  padding-block: 2rem;
}

.category {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.element {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-bottom: 0.25rem;
}

.socialLinks {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--gray-900);
  border-bottom: 1px solid var(--gray-900);
  padding-block: 0.5rem;
}

.socialTitle {
  margin-right: 2rem;
}

.socialName {
}

.socialIcon {
    width: 1rem;
    margin-right: 02.;
}
