.bottombar {
  box-sizing: border-box;
  padding-inline: 4rem;
  background-color: var(--gray-200);
  width: 100%;
}

.links {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  padding-block: 2rem;
}

.category {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.element {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-bottom: 0.25rem;
}

.socialLinks {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--gray-400);
  border-bottom: 1px solid var(--gray-400);
}

.socialTitle {
  margin-right: 2rem;
  padding: 0.5rem;
}

.socialItem {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.socialItem:hover {
  background-color: var(--gray-300);
}

.socialName {
}

.socialIcon {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin-right: 0.25rem;
  filter: opacity(0.75);
}

.infos{
    padding-block: 2rem;
}

.infoCopy{
    
}