.bottombar{
    display: flex;
    box-sizing: border-box;
    padding-inline: 4rem;
    background-color: var(--gray-200);
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    margin-right: 6rem;
    padding-top: 2rem;
}

.item{
    display: flex;
    flex-direction: column;
}