.boxFull {
  width: 100%;
  height: 90%;
  padding-inline: 4rem;
  padding-block: 6rem;
  box-sizing: border-box;
  background-size: cover;
}
.boxMedium {
  width: 60%;
  height: 90%;
  background-color: var(--gray-300);

}
.boxSmall {
  width: 30%;
  height: 90%;
  background-color: var(--gray-400);
}

.boxContainer{
  width: 
}