@import './App.module.css';

.button{
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    border-radius: 3rem;
    background-color: var(--gray-300);
    color: 
    width: fit-content;
    font-size: 20px;
}