.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--gray-100);
  width: 100%;
  height: 4rem;
}

.items {
}
.icons {
}

.logo {
  margin-inline: 4rem;
}

.item {
  margin-inline: 1rem;
}

.icon {
  margin-inline: 1rem;
}
