@import "./App.module.css";

.text14 {
  font-size: 14px;
}
.text16 {
  font-size: 16px;
}
.text18 {
  font-size: 18px;
}
.text20 {
  font-size: 20px;
}
.text24 {
  font-size: 24px;
}
.text30 {
  font-size: 30px;
}
.text36 {
  font-size: 36px;
}
.text42 {
  font-size: 42px;
}

.light {
  color: var(--gray-100);
}

.dark {
  color: var(--gray-900);
}

.bold {
  font-weight: 900;
}

.underline {
  border-bottom: 1px solid var(--gray-900);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.link{
  display: flex;
  align-items: stretch;
  text-decoration: none;
  color: unset;
  height: 100%;
}

.link:hover{
  background-color: var;
}